{{!< default}}

{{> cover this}}

<section class="wrapper" tabindex="0">
   <div class="wrapper-container" style="position:fixed;padding=left:10%>
   {{> custom/featured this}}
   </div>
   <div class="wrapper-container">

    <section class="post-list">
      {{#foreach posts}}
        {{> post/list this}}
      {{/foreach}}
    </section>

    {{#if pagination}}
      {{pagination}}
    {{/if}}

    {{> footer this}}
  </div>
</section>
